<div class="container">
  <div class="animated bounceIn">
    <h4>Actualizar Festividad </h4>

    <div class="form-group">
      <label class="col-form-label">Nombre de la Festividad:  </label>
      <input class="form-control"
             placeholder="Ingrese el Nombre de la Festividad"
             type="text"
             #festividadLocalNombre
      >
      <input class="form-control"
             placeholder="Ingrese la provinciad de la Festividad"
             type="text"
             #festividadLocalProvincia
      >
      <input class="form-control"
             placeholder="Ingrese el mes de la Festividad"
             type="text"
             #festividadLocalMes
      >
      <input class="form-control"
             placeholder="Ingrese la imagen de la Festividad"
             type="text"
             #festividadLocalImagen
      >
    </div>
    <a class="btn btn-primary"
       (click)="crearFestividad(festividadLocalNombre.value,
                                                          festividadLocalProvincia.value,
                                                          festividadLocalMes.value,
                                                          festividadLocalImagen.value) " href="#"> Crear
    </a>
    <a class="btn btn-primary" href="#">Cancelar</a>
  </div>
</div>

