<div class="container">
  <p id="titulofestividades" align="center">LISTA DE FESTIVIDADES</p>
  ss
  <div class="row" *ngFor="let actividad of actividades">
    sss
    <div class="col-sm-2">
    </div>
    <div class="col-md-4">
      <p class="textofestividad"><strong>Nombre de festividad:</strong> <br>
        {{actividad.nombreActividad}}</p>
      <p class="textofestividad"><strong>Mes de la festividad:</strong><br>
        {{actividad.direccionActividad}}</p>
      <p class="textofestividad"><strong>Provincia de la festividad:</strong><br>
        {{actividad.descripcionActividad}}</p> <br>
      <p class="textofestividad"><strong>Provincia de la festividad:</strong><br>
        {{actividad.fechaActividad}}</p> <br>
    </div>
    <div class="col-sm-4"><br>
      <img [src]="actividad.imagenActividad" alt="" id="imagen-festividad">

    </div>

  </div>

</div>
