header{
  border-bottom: double #DC7633 6px;
}

#bandera-encabezado{
  width:350px;
  hight:200px;
  max-width: 100%;
  margin: 10px 110px 10px;
}

#mensaje-encabezado{
  margin-top: 40px;
  font-family: "Times New Roman", Times, serif;
  text-align:center;
  font-size:4.0em;
  line-height:70px;
  color:#7401DF;
  text-transform:uppercase;
  animation:blur 3s ease-out infinite;
}
@keyframes blur{
  from{  text-shadow:
    0px 0px 10px #F7BE81, 0px 0px 10px #F7BE81,
    0px 0px 25px orange,0px 0px 25px orange,
    0px 0px 25px red,0px 0px 25px red,
    0px 0px 25px red,0px 0px 25px red,
    0px 0px 50px #F7BE81,0px 0px 50px #F7BE81  }
}

.carousel {
  margin-top:20px;
  margin-bottom: 60px;
}

.d-block
{
  width: 100%;
}
.carousel-caption{
  background-color:#F2F2F2;
  opacity: 0.7;
  font-style: italic;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.carousel-control-next-icon{
  padding: 25px;

}
.carousel-control-prev-icon{
  padding: 25px;
}
#imagen-festividad{
  width: 300px;
  height: 200px;

}
.col-md-4{
  border-bottom: double 10px red;
  border-top: double 10px yellow;
  border-left: double 10px blue;
}
.col-sm-4{
  border-bottom: double 10px red;
  border-top: double 10px yellow;
  border-right: double 10px blue;
}
.textofestividad{
  font-family: "Open Sans", "Myriad Pro", Arial, sans-serif;
  font-size: 20px;
}

#titulofestividades{
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;

}
#fondocontenedor{
  background-color: aliceblue;
}
